header{
	text-align: center;
}

body{
  	background-repeat: no-repeat;
	background-size: 100%;
}

.cuerpo{
	margin: auto;
	width: 55%;
	height: 100%;
}

.titulo{
	width: 20%;
	height: 10%;
}

.canvas{
	width: 1024px;
	height: 768px;
	background-color: black;
}

