/* - ESTILOS DE ETIQUETAS HTML - */
/* Se alinea el contenido del header en el centro */
header{
	text-align: center;
}

/* Aqui va el fondo de la pantalla*/
body{
	/* Aqui habria que poner el link de la imagen */
  	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px;
}

/* Centra los titulos */
h3{
	text-align: center;
}

/* Se deja un margin entre los links de las redes */
a {
	margin-right: 10%;
}

/* Estilo de la etiqueta footer en HTML. Se le da color, márgenes, tamaño y un borde negro superior */
footer {
	background: gray;
	padding: 2em 0;
	margin-top: 8em;
	bottom: 0;
	width: 100%;
	border-top: 10px solid black;
}

	/* Estilo de la etiqueta img dentro del footer. Se le da tamaño y un redondeo */
	footer img {
		width: 80px;
		height: 10%;
		border-radius: 1em;
	}

/* - ESTILOS PROPIOS - */
/* El cuerpo ocupa como minimo toda la altura de la pantalla y se le pone un ancho (mayor o igual al de la resolucion del juego) 
	junto con un margin auto para ponerlos en el centro le la pantalla */
.cuerpo{
	margin: auto;
	width: auto;
}

/* El ancho y alto de la imagen del titulo */
.titulo{
	width: 20%;
	height: 10%;
}

/* Se especifica la resolucion del juego */
.canvas{
	margin: auto;
	width: 1024px;
	height: 768px;
	background-color: black; /* Quitar esta linea cuando ya este el juego implementado */
}

/* Margenes para cada particion (canvas, historia, controles...) */
.particion{
	margin-top: 50px;
	margin: 50px 50px;
	border: solid black 3px; /* Quitar esta linea cuando ya esten terminadas las particones */
}

/* Footer. Se describe la forma de disposición, tamaño, alineación y diseño responsive */
.footer-container {
	width: 100%;
	display: block;
	color: gray;
	line-height: 40%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: space-around;
}

/* Contenidos del footer. Se usa para determinar distintas secciones en el footer. Diseño responsive y ajustes */
.footer-content {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 10px;
	color: black;	/* Solo se aplica a texto */
}