/* ------------ ESTILOS DE ETIQUETAS HTML ------------ */
/* Se alinea el contenido del header en el centro y se le da un fondo */
header {
	text-align: center;
	background-image: url('img/background/top.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Se da el fondo de pantalla, se reducen los márgenes y se establecen la fuente del texto al body */
body {
	background-image: url('img/background/body.png');
	background-repeat: repeat;
	background-size: 100%;
	margin: 0px;
	font-family: Silkscreen;
}

/* Centra los titulos y pone la fuente de color blanco y a un tamaño concreto */
h2{
	text-align: center;
	color: white;
	font-size: 40px;
}

/* Pone las lineas de texto de color blanco y a un tamaño concreto */
p{
	color: white;
	font-size: 20px;
}

/* Estilo de la etiqueta footer en HTML. Se le da el fondo, color, márgenes y tamaño */
footer {
	background-image: url('img/background/bottom.png');
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 2em 0;
	margin-top: 8em;
	bottom: 0;
}

	/* Estilo de la etiqueta img dentro del footer. Se le da tamaño y un redondeo */
	footer img {
		width: 80px;
		border-radius: 1em;
	}

/* ------------ ESTILOS PROPIOS ------------ */
/* El cuerpo ocupa como minimo toda la altura de la pantalla y se le pone un ancho (mayor o igual al de la resolucion del juego) 
	junto con un margin auto para ponerlos en el centro le la pantalla */
.cuerpo{
	margin: auto;
	width: auto;
}

/* El ancho y los márgenes de la imagen del titulo */
.titulo{
	width: 30%;
	margin: 0px 0px 80px;
}

/* Se especifica el tamaño del canvas del juego y los margenes */
.canvas{
	margin: auto;
	width: 1024px;
	height: 768px;
	background-color: black; /* Quitar esta linea cuando ya este el juego implementado */
}

/* Margenes para cada particion (canvas, historia, controles...) */
.particion{
	margin-top: 50px;
	margin: 50px 150px;
	border: solid black 3px; /* Quitar esta linea cuando ya esten terminadas las particones */
}

/* Footer. Se describe la forma de disposición, tamaño, alineación y diseño responsive */
.footer-container {
	width: 100%;
	display: block;
	color: gray;
	line-height: 40%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: space-around;
}

/* Contenidos del footer. Se usa para determinar distintas secciones en el footer. Diseño responsive y ajustes */
.footer-content {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 50px 30px 10px;
}